@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue');

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.audio {
    display: flex;
    justify-content: center;
    align-items: center 
}

p {
    margin: auto;
    margin-top: 1vw;
    margin-bottom: 1vw;
    width: 50%;
    text-align: center;
    text-shadow: 0.15vw 0.15vw darkslategray;
    color: white;
    font-family: Arial;
    font-weight: bold;
    font-style: italic;
    font-size: 1.25vw;
}

.heading {
    text-align: center;
    text-shadow: 0.15vw 0.15vw white;
    color: darkslategray;
    font-family: 'Bebas Neue', cursive;
    font-style: italic;
    font-size: 3.5vw;
    margin: -1.25vw;
    margin-top: 0;
}

.image-heading {
    text-align: center;
    text-shadow: 0.2vw 0.2vw white;
    color: darkslategray;
    font-family: 'Bebas Neue', cursive;
    font-style: italic;
    font-size: 7vw;
    margin: -1.25vw;
}

.crossed {
    text-decoration: line-through;
}
